/* Box sizing rules */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Remove default margin and padding */
body,
h2,
p {
  margin: 0;
  padding: 0;
}

/* root */
html {
  font-size: 10px;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1.5rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: hsl(0, 0%, 95%);
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr 1fr 1fr;
  /* grid-gap: 1rem; */
  width: 87.2%;
  background: orange;
}

.column {
  padding: 12.9rem 4.8rem 4.8rem;
}
